<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="userbean" type="com.linkyuji.bean.UsersBean" />
		<typeAlias alias="folderbean" type="com.linkyuji.bean.FolderBean"/>
		<typeAlias alias="filebean" type="com.linkyuji.bean.FileBean"/>
		<typeAlias alias="sharebean" type="com.linkyuji.bean.ShareBean"/>
	</typeAliases>

	<mappers>
		<mapper resource="com/linkyuji/sqlMapper/UsersMapper.xml" />
		<mapper resource="com/linkyuji/sqlMapper/FolderMapper.xml" />
		<mapper resource="com/linkyuji/sqlMapper/FileMapper.xml"/>
		<mapper resource="com/linkyuji/sqlMapper/ShareMapper.xml"/>
	</mappers>
</configuration>